body{
    background: url(../img/fundo.png) no-repeat center;
}
.principal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo__principal{
    text-align: center;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.fosforo{
    width: 35%;
    height: 33rem;
    margin-left: 17px;
}

#botao{
    display: flex;
    justify-content: space-evenly;
}

.acender{
    padding: .6rem;
    margin-top: -50px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    transition: 1.5s;
}

.acender::before{
    content: "🔥";
    font-weight: 1;
}

#prox::before{
    content: "⮚";
}

.acender:hover{
    background: #dc5313d2;
}